@using CqrsSample.Controllers
@using CqrsSample.Models
@model System.Collections.Generic.List<CqrsSample.EventHandlers.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Change Password</td>
        <tr/>
    </thead>
    <tbody >
        @foreach(var user in Model)
        {
            <tr>
                <td>
                   <strong>@user.Name</strong> 
                </td>
                <td>
                    @Html.Partial("ChangePassword", new ChangePasswordModel(user.Id))
                </td>
            </tr>
        }
    </tbody>  
</table>

@Html.Partial("CreateUser", new CreateUserModel())